/*GetResponse Sending Platform Styles*/
.grsp-send-input,.grsp-send-select{display: block; width: 30%; min-width: 200px;}
.grsp-send-label{display:block; padding: 10px 0 5px 0; font-size:14px; font-weight: bold;}
.wrap .grsp-button{margin:30px 0 0 0}
